@import "./utilit/variable";

@import "./general/container";
@import "./general/common";

@import "./components/header";

@import "./components/title";
@import "./components/feauture-item";
@import "./components/about-item";
@import "./components/team";
@import "./components/client-section";

@import "./components/footer";

@import "./components/modal";

@import "./components/portfolio";
