.feauture-item {
  padding: 94px 0;
}

.feauture {
  display: flex;
}

.qualities {
  width: 270px;
}

.qualities h3 {
  margin-bottom: 10px;
}

.qualities:not(:last-child) {
  margin-right: 30px;
}
.qualities::before {
  display: block;
  content: "";
  height: 120px;
  background-color: $main-bg-color;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.clock::before {
  background-image: url(../images/icons/clock.svg);
}

.diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.feauture h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primery-heading-color;
}

.feauture p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.about {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primery-heading-color;
}
