.about-item {
  padding-bottom: 94px;
}

.pictures {
  display: flex;
}

.pictures li {
  width: 370px;
}

.pictures li:not(:last-child) {
  margin-right: 30px;
}

.pictures img {
  display: block;
}
.product {
  position: relative;
}

.action-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: var(--main-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
