.portfolio-main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav {
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primery-heading-color);
  background-color: var(--main-bg-color);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  cursor: pointer;
}

.categories-nav:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav:hover,
.portfolio-nav:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  transition: box-shadow 250ms var(--timing-function);
}

.our-work a:hover,
.our-work a:focus {
  display: block;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-color-elements);
}

.work:nth-child(3n) {
  margin-right: 0;
}

.work:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work img {
  display: block;
}

.img-card {
  position: relative;
  overflow: hidden;
}

.img-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-bg-color);
}

.img-description {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
}

.our-work a:hover .img-description,
.our-work a:hover .img-description {
  transform: translateY(-100%);
}

.description {
  width: 370px;
  padding: 20px 24px;
}

.description h3 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primery-heading-color);
}

.description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
